# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env

# Node.js
node_modules/

# Build Files
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# ChromaDB
backend/app/rag/chroma_db/

# Generated wrappers
backend/generated_wrappers/*.py

backend/backend/
backend/**/chroma_db/
*.sqlite3